.radius2 {
    border-radius: 2%;
}
.underline {
    text-decoration: underline;
}
.padding5 {
    padding : 5%;
}
.padding20 {
    padding : 20%;
}
footer {
    text-align: center;
}
.scaleContent50 {
  width: 50%;
  height: auto;
}
.profileImage {
  width: 5%;
  height: auto;
  border-radius: 100%;
}
.hoverEnlarge {
  transition: transform .5s, filter .5s;
  margin: 0 auto;
  filter: drop-shadow(4px 4px 4px #000000);
}
.hoverEnlarge:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 10px #000000);
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.captionedImage {
  position: relative;
      width: 285px;
      height: 175px;
}
.imageCaption .captionedImage {
  position: absolute;
      width: 283px;
      height: 50px;
      bottom: 0px;
      left: 0px;
      color: #ffffff;
      background: green;
      text-align:center;
      font-weight:bold;
      opacity:0.7;
}
p {
  font-size: 12pt;
  line-height: 2;
}